<!DOCTYPE HTML>
<html>
<head>
<title>Response | Buttons &amp; Buttonshapes</title>
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="grey">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<link href="images/favicon.png" rel="shortcut icon">
<link href="images/favicon.png" rel="bookmark icon">
<link href="css/main.css" rel="stylesheet" type="text/css">
<script src="js/jquery.min-latest.js"></script>
<script src="js/jquery.nivo.slider.js"></script>
<script src="js/custom.js"></script>
<script>
$(function () {
    setInterval("rotateDiv()", 10000);
});
function rotateDiv() {
    var currentDiv = $("#simpleslider div.current");
    var nextDiv = currentDiv.next();
    if (nextDiv.length == 0) nextDiv = $("#simpleslider div:first");
    currentDiv.removeClass('current')
        .addClass('previous')
        .fadeOut('2000');
    nextDiv.fadeIn('3000')
        .addClass('current', function () {
        currentDiv.fadeOut('2000', function () {
            currentDiv.removeClass('previous');
        });
    });
}
</script>
</head>
<body>
<div id="header">
  <!-- Start navigation area -->
  <div id="navigation">
    <div id="navigation_wrap">
      <!-- Start contact info area -->
      <div id="conteactinfo"><strong>Email:</strong> info@domainname.com | <strong>Phone:</strong> (+44) 1234 567 890</div>
      <!-- End contact info area -->
      <!-- Start navigation -->
      <div id="navi">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Features</a>
            <ul>
              <li><a href="buttons-buttonshapes.html">Buttons</a></li>
              <li><a href="columns.html">Columns</a></li>
              <li><a href="icons-and-lists.html">Icons &amp; Lists</a></li>
              <li><a href="notifications.html">Notifications</a></li>
              <li><a href="tabs-and-toggles.html">Tabs &amp; Toggles</a></li>
              <li><a href="#">Other</a>
                <ul>
                  <li><a href="#">Demo Tab</a></li>
                  <li><a href="#">Demo Tab</a></li>
                  <li><a href="#">Demo Tab</a></li>
                  <li><a href="#">Demo Tab</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a>
            <ul>
              <li><a href="blog-left.html">Left Column Blog</a></li>
              <li><a href="blog.html">Right Column Blog</a></li>
              <li><a href="blog-post.html">Post</a>
                <ul>
                  <li><a href="left-blog-post.html">Left Column Post</a></li>
                  <li><a href="blog-post.html">Right Column Post</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="portfolio.html">Portfolio</a>
            <ul>
              <li><a href="portfolio-2-column.html">2 Columns</a></li>
              <li><a href="portfolio-3-column.html">3 Columns</a></li>
              <li><a href="portfolio.html">4 Columns</a></li>
            </ul>
          </li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </div>
      <!-- End navigation -->
    </div>
  </div>
  <!-- End navigation area -->
  <div class="clear"></div>
  <!-- Start Social & Logo area -->
  <div id="header_small">
    <!-- Start Social area -->
    <div class="social">
      <ul>
        <li><a href="#" class="social-google"></a></li>
        <li><a href="#" class="social-facebook"></a></li>
        <li><a href="#" class="social-twitter"></a></li>
        <li><a href="#" class="social-linkedin"></a></li>
        <li><a href="#" class="social-forrst"></a></li>
        <li><a href="#" class="social-dribbble"></a></li>
      </ul>
    </div>
    <!-- End Socialarea -->
    <!-- Start Logo area -->
    <div id="logo"> <a href="index.html">Response</a> </div>
    <!-- End Logo area -->
  </div>
  <!-- End Social & Logo area -->
</div>
<div id="main">
  <!-- Start H1 Title -->
  <div class="titlesnormal">
    <h1>Response Button Variation</h1>
    <span></span> </div>
  <!-- End H1 Title -->
  <!-- Start Main Body Wrap -->
  <div id="main-wrap">
    <!-- Start Latest Project titles -->
    <div class="boxes-full">
      <div class="boxes-padding fullpadding">
        <!-- Start None Split Section -->
        <div class="splitnone">
          <h3>Welcome To The Button Shapes Page</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sapien diam, bibendum tincidunt purus. Morbi feugiat, augue in luctus lobortis, purus ipsum scelerisque metus, vitae posuere mi turpis tristique neque. Morbi at purus urna, sit amet rutrum lectus. Nullam cursus purus vel velit interdum nec laoreet dolor interdum.</p>
        </div>
        <!-- End None Split Section -->
        <div class="clear"></div>
        <hr>
        <!-- Start 2 Half Split Section -->
        <div class="split2">
          <h3>Button Sizes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sapien diam, bibendum tincidunt purus.</p>
          <p><a class="largesmoothrectange blackbutton" href="#">Button</a> <a class="mediumsmoothrectange whitebutton" href="#">Button</a> <a class="smallsmoothrectange orangebutton" href="#">Button</a></p>
        </div>
        <div class="split2">
          <h3>Button Shapes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sapien diam, bibendum tincidunt purus.</p>
          <p><a class="smallrounded blackbutton" href="#">Button</a> <a class="smallsmoothrectange whitebutton" href="#">Button</a> <a class="smallrectange orangebutton" href="#">Button</a></p>
        </div>
        <!-- End 2 Half Split Section -->
        <div class="clear"></div>
        <hr>
        <!-- Start None Split Section -->
        <div class="splitnone">
          <h3>Button Colours</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sapien diam, bibendum tincidunt purus. Morbi feugiat, augue in luctus lobortis, purus ipsum scelerisque metus, vitae posuere mi turpis tristique neque. Morbi at purus urna, sit amet rutrum lectus. Nullam cursus purus vel velit interdum nec laoreet dolor interdum.</p>
          <p><a class="smallsmoothrectange redbutton" href="#">Red Button</a> <a class="smallsmoothrectange greenbutton" href="#">Green Button</a> <a class="smallsmoothrectange orangebutton" href="#">Orange Button</a> <a class="smallsmoothrectange pinkbutton" href="#">Pink Button</a> <a class="smallsmoothrectange purplebutton" href="#">Purple Button</a> <a class="smallsmoothrectange yellowbutton" href="#">Yellow Button</a> <a class="smallsmoothrectange whitebutton" href="#">White Button</a> <a class="smallsmoothrectange blackbutton" href="#">Black Button</a></p>
        </div>
        <!-- End None Split Section -->
        <div class="clear"></div>
        <hr>
        <!-- Start None Split Section -->
        <div class="splitnone">
          <h3>Paginations</h3>
          <div class="pagination">
            <ul>
              <li><a href="#" class="blacksquare">Start</a></li>
              <li><a href="#" class="blacksquare">Prev</a></li>
              <li><a href="#" class="blacksquare">1</a></li>
              <li><a href="#" class="blacksquare">2</a></li>
              <li><a href="#" class="blacksquare">3</a></li>
              <li><a href="#" class="blacksquare">4</a></li>
              <li><a href="#" class="blacksquareactive">5</a></li>
              <li><a href="#" class="blacksquare">6</a></li>
              <li><a href="#" class="blacksquare">7</a></li>
              <li><a href="#" class="blacksquare">8</a></li>
              <li><a href="#" class="blacksquare">9</a></li>
              <li><a href="#" class="blacksquare">10</a></li>
              <li><a href="#" class="blacksquare">Next</a></li>
              <li><a href="#" class="blacksquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="blackcurve">Start</a></li>
              <li><a href="#" class="blackcurve">Prev</a></li>
              <li><a href="#" class="blackcurve">1</a></li>
              <li><a href="#" class="blackcurve">2</a></li>
              <li><a href="#" class="blackcurve">3</a></li>
              <li><a href="#" class="blackcurve">4</a></li>
              <li><a href="#" class="blackcurveactive">5</a></li>
              <li><a href="#" class="blackcurve">6</a></li>
              <li><a href="#" class="blackcurve">7</a></li>
              <li><a href="#" class="blackcurve">8</a></li>
              <li><a href="#" class="blackcurve">9</a></li>
              <li><a href="#" class="blackcurve">10</a></li>
              <li><a href="#" class="blackcurve">Next</a></li>
              <li><a href="#" class="blackcurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="whitesquare">Start</a></li>
              <li><a href="#" class="whitesquare">Prev</a></li>
              <li><a href="#" class="whitesquare">1</a></li>
              <li><a href="#" class="whitesquare">2</a></li>
              <li><a href="#" class="whitesquare">3</a></li>
              <li><a href="#" class="whitesquare">4</a></li>
              <li><a href="#" class="whitesquareactive">5</a></li>
              <li><a href="#" class="whitesquare">6</a></li>
              <li><a href="#" class="whitesquare">7</a></li>
              <li><a href="#" class="whitesquare">8</a></li>
              <li><a href="#" class="whitesquare">9</a></li>
              <li><a href="#" class="whitesquare">10</a></li>
              <li><a href="#" class="whitesquare">Next</a></li>
              <li><a href="#" class="whitesquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="whitecurve">Start</a></li>
              <li><a href="#" class="whitecurve">Prev</a></li>
              <li><a href="#" class="whitecurve">1</a></li>
              <li><a href="#" class="whitecurve">2</a></li>
              <li><a href="#" class="whitecurve">3</a></li>
              <li><a href="#" class="whitecurve">4</a></li>
              <li><a href="#" class="whitecurveactive">5</a></li>
              <li><a href="#" class="whitecurve">6</a></li>
              <li><a href="#" class="whitecurve">7</a></li>
              <li><a href="#" class="whitecurve">8</a></li>
              <li><a href="#" class="whitecurve">9</a></li>
              <li><a href="#" class="whitecurve">10</a></li>
              <li><a href="#" class="whitecurve">Next</a></li>
              <li><a href="#" class="whitecurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="yellowsquare">Start</a></li>
              <li><a href="#" class="yellowsquare">Prev</a></li>
              <li><a href="#" class="yellowsquare">1</a></li>
              <li><a href="#" class="yellowsquare">2</a></li>
              <li><a href="#" class="yellowsquare">3</a></li>
              <li><a href="#" class="yellowsquare">4</a></li>
              <li><a href="#" class="yellowsquareactive">5</a></li>
              <li><a href="#" class="yellowsquare">6</a></li>
              <li><a href="#" class="yellowsquare">7</a></li>
              <li><a href="#" class="yellowsquare">8</a></li>
              <li><a href="#" class="yellowsquare">9</a></li>
              <li><a href="#" class="yellowsquare">10</a></li>
              <li><a href="#" class="yellowsquare">Next</a></li>
              <li><a href="#" class="yellowsquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="yellowcurve">Start</a></li>
              <li><a href="#" class="yellowcurve">Prev</a></li>
              <li><a href="#" class="yellowcurve">1</a></li>
              <li><a href="#" class="yellowcurve">2</a></li>
              <li><a href="#" class="yellowcurve">3</a></li>
              <li><a href="#" class="yellowcurve">4</a></li>
              <li><a href="#" class="yellowcurveactive">5</a></li>
              <li><a href="#" class="yellowcurve">6</a></li>
              <li><a href="#" class="yellowcurve">7</a></li>
              <li><a href="#" class="yellowcurve">8</a></li>
              <li><a href="#" class="yellowcurve">9</a></li>
              <li><a href="#" class="yellowcurve">10</a></li>
              <li><a href="#" class="yellowcurve">Next</a></li>
              <li><a href="#" class="yellowcurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="purplesquare">Start</a></li>
              <li><a href="#" class="purplesquare">Prev</a></li>
              <li><a href="#" class="purplesquare">1</a></li>
              <li><a href="#" class="purplesquare">2</a></li>
              <li><a href="#" class="purplesquare">3</a></li>
              <li><a href="#" class="purplesquare">4</a></li>
              <li><a href="#" class="purplesquareactive">5</a></li>
              <li><a href="#" class="purplesquare">6</a></li>
              <li><a href="#" class="purplesquare">7</a></li>
              <li><a href="#" class="purplesquare">8</a></li>
              <li><a href="#" class="purplesquare">9</a></li>
              <li><a href="#" class="purplesquare">10</a></li>
              <li><a href="#" class="purplesquare">Next</a></li>
              <li><a href="#" class="purplesquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="purplecurve">Start</a></li>
              <li><a href="#" class="purplecurve">Prev</a></li>
              <li><a href="#" class="purplecurve">1</a></li>
              <li><a href="#" class="purplecurve">2</a></li>
              <li><a href="#" class="purplecurve">3</a></li>
              <li><a href="#" class="purplecurve">4</a></li>
              <li><a href="#" class="purplecurveactive">5</a></li>
              <li><a href="#" class="purplecurve">6</a></li>
              <li><a href="#" class="purplecurve">7</a></li>
              <li><a href="#" class="purplecurve">8</a></li>
              <li><a href="#" class="purplecurve">9</a></li>
              <li><a href="#" class="purplecurve">10</a></li>
              <li><a href="#" class="purplecurve">Next</a></li>
              <li><a href="#" class="purplecurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="pinksquare">Start</a></li>
              <li><a href="#" class="pinksquare">Prev</a></li>
              <li><a href="#" class="pinksquare">1</a></li>
              <li><a href="#" class="pinksquare">2</a></li>
              <li><a href="#" class="pinksquare">3</a></li>
              <li><a href="#" class="pinksquare">4</a></li>
              <li><a href="#" class="pinksquareactive">5</a></li>
              <li><a href="#" class="pinksquare">6</a></li>
              <li><a href="#" class="pinksquare">7</a></li>
              <li><a href="#" class="pinksquare">8</a></li>
              <li><a href="#" class="pinksquare">9</a></li>
              <li><a href="#" class="pinksquare">10</a></li>
              <li><a href="#" class="pinksquare">Next</a></li>
              <li><a href="#" class="pinksquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="pinkcurve">Start</a></li>
              <li><a href="#" class="pinkcurve">Prev</a></li>
              <li><a href="#" class="pinkcurve">1</a></li>
              <li><a href="#" class="pinkcurve">2</a></li>
              <li><a href="#" class="pinkcurve">3</a></li>
              <li><a href="#" class="pinkcurve">4</a></li>
              <li><a href="#" class="pinkcurveactive">5</a></li>
              <li><a href="#" class="pinkcurve">6</a></li>
              <li><a href="#" class="pinkcurve">7</a></li>
              <li><a href="#" class="pinkcurve">8</a></li>
              <li><a href="#" class="pinkcurve">9</a></li>
              <li><a href="#" class="pinkcurve">10</a></li>
              <li><a href="#" class="pinkcurve">Next</a></li>
              <li><a href="#" class="pinkcurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="orangesquare">Start</a></li>
              <li><a href="#" class="orangesquare">Prev</a></li>
              <li><a href="#" class="orangesquare">1</a></li>
              <li><a href="#" class="orangesquare">2</a></li>
              <li><a href="#" class="orangesquare">3</a></li>
              <li><a href="#" class="orangesquare">4</a></li>
              <li><a href="#" class="orangesquareactive">5</a></li>
              <li><a href="#" class="orangesquare">6</a></li>
              <li><a href="#" class="orangesquare">7</a></li>
              <li><a href="#" class="orangesquare">8</a></li>
              <li><a href="#" class="orangesquare">9</a></li>
              <li><a href="#" class="orangesquare">10</a></li>
              <li><a href="#" class="orangesquare">Next</a></li>
              <li><a href="#" class="orangesquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="orangecurve">Start</a></li>
              <li><a href="#" class="orangecurve">Prev</a></li>
              <li><a href="#" class="orangecurve">1</a></li>
              <li><a href="#" class="orangecurve">2</a></li>
              <li><a href="#" class="orangecurve">3</a></li>
              <li><a href="#" class="orangecurve">4</a></li>
              <li><a href="#" class="orangecurveactive">5</a></li>
              <li><a href="#" class="orangecurve">6</a></li>
              <li><a href="#" class="orangecurve">7</a></li>
              <li><a href="#" class="orangecurve">8</a></li>
              <li><a href="#" class="orangecurve">9</a></li>
              <li><a href="#" class="orangecurve">10</a></li>
              <li><a href="#" class="orangecurve">Next</a></li>
              <li><a href="#" class="orangecurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="greensquare">Start</a></li>
              <li><a href="#" class="greensquare">Prev</a></li>
              <li><a href="#" class="greensquare">1</a></li>
              <li><a href="#" class="greensquare">2</a></li>
              <li><a href="#" class="greensquare">3</a></li>
              <li><a href="#" class="greensquare">4</a></li>
              <li><a href="#" class="greensquareactive">5</a></li>
              <li><a href="#" class="greensquare">6</a></li>
              <li><a href="#" class="greensquare">7</a></li>
              <li><a href="#" class="greensquare">8</a></li>
              <li><a href="#" class="greensquare">9</a></li>
              <li><a href="#" class="greensquare">10</a></li>
              <li><a href="#" class="greensquare">Next</a></li>
              <li><a href="#" class="greensquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="greencurve">Start</a></li>
              <li><a href="#" class="greencurve">Prev</a></li>
              <li><a href="#" class="greencurve">1</a></li>
              <li><a href="#" class="greencurve">2</a></li>
              <li><a href="#" class="greencurve">3</a></li>
              <li><a href="#" class="greencurve">4</a></li>
              <li><a href="#" class="greencurveactive">5</a></li>
              <li><a href="#" class="greencurve">6</a></li>
              <li><a href="#" class="greencurve">7</a></li>
              <li><a href="#" class="greencurve">8</a></li>
              <li><a href="#" class="greencurve">9</a></li>
              <li><a href="#" class="greencurve">10</a></li>
              <li><a href="#" class="greencurve">Next</a></li>
              <li><a href="#" class="greencurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="redsquare">Start</a></li>
              <li><a href="#" class="redsquare">Prev</a></li>
              <li><a href="#" class="redsquare">1</a></li>
              <li><a href="#" class="redsquare">2</a></li>
              <li><a href="#" class="redsquare">3</a></li>
              <li><a href="#" class="redsquare">4</a></li>
              <li><a href="#" class="redsquareactive">5</a></li>
              <li><a href="#" class="redsquare">6</a></li>
              <li><a href="#" class="redsquare">7</a></li>
              <li><a href="#" class="redsquare">8</a></li>
              <li><a href="#" class="redsquare">9</a></li>
              <li><a href="#" class="redsquare">10</a></li>
              <li><a href="#" class="redsquare">Next</a></li>
              <li><a href="#" class="redsquare">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="redcurve">Start</a></li>
              <li><a href="#" class="redcurve">Prev</a></li>
              <li><a href="#" class="redcurve">1</a></li>
              <li><a href="#" class="redcurve">2</a></li>
              <li><a href="#" class="redcurve">3</a></li>
              <li><a href="#" class="redcurve">4</a></li>
              <li><a href="#" class="redcurveactive">5</a></li>
              <li><a href="#" class="redcurve">6</a></li>
              <li><a href="#" class="redcurve">7</a></li>
              <li><a href="#" class="redcurve">8</a></li>
              <li><a href="#" class="redcurve">9</a></li>
              <li><a href="#" class="redcurve">10</a></li>
              <li><a href="#" class="redcurve">Next</a></li>
              <li><a href="#" class="redcurve">Last</a></li>
            </ul>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#" class="normal">Start</a></li>
              <li><a href="#" class="normal">Prev</a></li>
              <li><a href="#" class="normal">1</a></li>
              <li><a href="#" class="normal">2</a></li>
              <li><a href="#" class="normal">3</a></li>
              <li><a href="#" class="normal">4</a></li>
              <li><a href="#" class="normalactive">5</a></li>
              <li><a href="#" class="normal">6</a></li>
              <li><a href="#" class="normal">7</a></li>
              <li><a href="#" class="normal">8</a></li>
              <li><a href="#" class="normal">9</a></li>
              <li><a href="#" class="normal">10</a></li>
              <li><a href="#" class="normal">Next</a></li>
              <li><a href="#" class="normal">Last</a></li>
            </ul>
          </div>
        </div>
        <!-- End None Split Section -->
      </div>
      <span class="box-arrow"> </span> </div>
    <!-- End Latest Project titles -->
  </div>
  <!-- End Main Body Wrap -->
</div>
<!-- Start Footer -->
<div id="footer">
  <!-- Start Footer Top -->
  <div id="footertop">
    <div class="footerwrap">
      <!-- Start Latest Tweets -->
      <div id="latest-tweets">
        <div id="twittertitle">Latest Tweets</div>
        <div id="twitterbody">
          <ul class="tweet_list">
            <li class="tweet_first tweet_odd"><a class="tweet_avatar" href="#"><img src="images/small-twitter.png" border="0" alt=""></a><span class="tweet_time"><a href="#">about a day ago</a></span> <span class="tweet_join">we were checking out</span> <span class="tweet_text">"Stella Studios Responsive Wordpress Theme" by UBL - <a href="#">domain.com</a></span></li>
            <li class="tweet_even"><a class="tweet_avatar" href="#"><img src="images/small-twitter.png" border="0" alt=""></a><span class="tweet_time"><a href="#">about a day ago</a></span> <span class="tweet_join">we said,</span> <span class="tweet_text">Lola Responsive Html Theme Coming Soon!</span></li>
            <li class="tweet_odd"><a class="tweet_avatar" href="#"><img src="images/small-twitter.png" border="0" alt=""></a><span class="tweet_time"><a href="#">about 2 days ago</a></span> <span class="tweet_join">we were checking out</span> <span class="tweet_text">To all our customers, We invite you to follow us on facebook for all the latest news, Wordpress themes &amp; freebies - <a href="#">domain.com</a></span></li>
          </ul>
        </div>
      </div>
      <!-- End Latest Tweets -->
      <!-- Start Useful Links -->
      <div id="useful_links">
        <div id="usefultitle">Latest Tweets</div>
        <div id="usefulbody">
          <ul>
            <li><a href="#">Lorem ipsum dolor sit </a></li>
            <li><a href="#">Maecenas non ipsum nunc</a></li>
            <li><a href="#">Lorem ipsum dolor </a></li>
            <li><a href="#">Maecenas non ipsum </a></li>
            <li><a href="#">Lorem ipsum dolor sit </a></li>
            <li><a href="#">Maecenas non ipsum nunc</a></li>
            <li><a href="#">Lorem ipsum dolor </a></li>
            <li><a href="#">Maecenas non ipsum </a></li>
            <li><a href="#">Lorem ipsum dolor sit </a></li>
            <li><a href="#">Maecenas non ipsum nunc</a></li>
          </ul>
        </div>
      </div>
      <!-- End Useful Links -->
      <!-- Start Testimonials -->
      <div id="latest-testimonial">
        <div id="testimonialtitle">Latest Testimonials</div>
        <div id="testimonialbody">
          <!-- Starting simple slider -->
          <div id="simpleslider">
            <!-- Slide 1 -->
            <div class="current">
              <h6>Title 1</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <div>
              <h6>iusdhfisd sdf</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 2 -->
            <!-- Slide 3 -->
            <div>
              <h6>eco sodalirity ltd</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 3 -->
            <!-- Slide 4 -->
            <div>
              <h6>asd</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 4 -->
            <!-- Slide 5 -->
            <div>
              <h6>ec234234234</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 5 -->
          </div>
          <!-- Ending simple slider -->
          <div class="speachlower"></div>
        </div>
      </div>
      <!-- End Latest Testimonials -->
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="clear"></div>
  <!-- Start Footer Bottom -->
  <div id="footerbottom">
    <div class="footerwrap">
      <!-- Start Copyright Div -->
      <div id="copyright">&copy;2012.Response - All rights reserved! - Theme by <a target="_blank" href="http://www.derby-web-design-agency.co.uk">UBL Designs</a></div>
      <!-- PLEASE SUPPORT US BY LEAVING THIS LINK -->
      <!-- End Copyright Div -->
      <!-- Start Social area -->
      <div class="socialfooter">
        <ul>
          <li><a href="#" class="social-google"></a></li>
          <li><a href="#" class="social-facebook"></a></li>
          <li><a href="#" class="social-twitter"></a></li>
          <li><a href="#" class="social-linkedin"></a></li>
          <li><a href="#" class="social-forrst"></a></li>
          <li><a href="#" class="social-dribbble"></a></li>
        </ul>
      </div>
      <!-- End Socialarea -->
    </div>
  </div>
  <!-- End Footer Bottom -->
</div>
<!-- End Footer -->
<!-- Start Scroll To Top Div -->
<div id="scrolltab"></div>
<!-- End Scroll To Top Div -->
</body>
</html>