@model Swastika.Cms.Lib.ViewModels.FrontEnd.FECategoryViewModel

<div class="slider_wrapper">
	<div id="camera_wrap">
		<div data-src="/Content/Templates/ego-beauty/ego-beauty-salon/site/images/spacer.png">
			<div class="caption fadeIn">
				<h2>It’s Time to Relax &amp; Take <br> Care of Yourself</h2>
			</div>
		</div>
		<div data-src="/Content/Templates/ego-beauty/ego-beauty-salon/site/images/spacer.png">
			<div class="caption fadeIn">
			<h2>We Serve You for <br>
	All Your Beauty Needs</h2>
			</div>
		</div>
		<div data-src="/Content/Templates/ego-beauty/ego-beauty-salon/site/images/spacer.png">
			<div class="caption fadeIn">
				<h2>Your Beauty Starts Here</h2>
			</div>
		</div>
	</div>
</div>
<!--==============================Content=================================-->
<div class="links">
	<div class="container_12">
		<div class="grid_4"><a href="#"><strong>Face </strong>Care</a></div>
		<div class="grid_4"><a href="#" class="l1"><strong>Hand</strong>Care</a></div>
		<div class="grid_4"><a href="#" class="l2"><strong>Foot</strong>Care</a></div>
	</div>
	<div class="clear"></div>
</div>
<div class="slogan">
	We are the Beauty &amp; Spa Salon based in New York <br>
	We Want to Make Your Life Beautiful
</div>
<div class="content"><div class="ic">More Website Templates @@ TemplateMonster.com - January 13, 2014!</div>
	<div class="container_12">
		<div class="grid_4">
			<div class="banner b1"><a href="#" class="maxheight">Skin Therapy</a><img src="/Content/Templates/ego-beauty/ego-beauty-salon/site/images/page1_img1.jpg" alt=""></div>
		</div>
		<div class="grid_4">
			<div class="banner b2"><img src="/Content/Templates/ego-beauty/ego-beauty-salon/site/images/page1_img2.jpg" alt=""><a href="#" class="maxheight">Spa Rest</a></div>
		</div>
		<div class="grid_4">
			<div class="banner b3"><a href="#" class="maxheight">Massage</a><img src="/Content/Templates/ego-beauty/ego-beauty-salon/site/images/page1_img3.jpg" alt=""></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
